@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

:root {
  font-family: "Inter", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* 亮色主题背景 */
  --page-bg: #ffffff;
  /* 亮色主题强调色 */
  --accent-color: #B5C7FF;
}

body {
  margin: 0;
  min-height: 100vh;
  background-color: transparent;
  color: inherit;
}

/* 暗色主题 */
.dark {
  /* 暗色主题背景 */
  --page-bg: #111113;
  /* 暗色主题强调色 */
  --accent-color: #263872;
}
